[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "*"
mypy = "*"
pylint = "*"
tqdm = "*"

[packages]
protobuf = "*"
graphene = "*"
starlette = "*" 
uvicorn = "*"
fastapi = "*"

[requires]
python_version = "3.7"

[scripts]
cli = "python -m coordinator"
server = "uvicorn master:app --reload"
generate = "python -m grpc_tools.protoc -I../../protos --python_out=./coordinator/protos --grpc_python_out=./coordinator/protos ../../protos/common.proto ../../protos/packer.proto ../../protos/indexer.proto"

[pipenv]
allow_prereleases = true
