[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "*"
mypy = "*"
pylint = "*"
tqdm = "*"
pytest = "*"

[packages]
protobuf = "*"
graphene = "*"
starlette = "*" 
uvicorn = "*"
fastapi = "*"
grpcio-tools = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[scripts]
cli = "python -m gallop"
server = "uvicorn gallop:app --reload"
generate = "python -m grpc_tools.protoc -I../protos --python_out=./gallop/protos --grpc_python_out=./gallop/protos ../protos/common.proto ../protos/packer.proto ../protos/indexer.proto ../protos/coordinator.proto"

[pipenv]
allow_prereleases = true
